.env
music
.venv
app.log
discord.log
test.py
modules/__pycache__
modules/commands/__pycache__
modules/helper/__pycache__
modules/__pycache__/
modules/commands/__pycache__/
modules/helper/__pycache__/
modules/__pycache__/
modules/__pycache__/ai.cpython-312.pyc
modules/__pycache__/discord_voice_afk.cpython-312.pyc
modules/__pycache__/discord_voice.cpython-312.pyc
modules/__pycache__/download.cpython-312.pyc
modules/__pycache__/error_handler.cpython-312.pyc
modules/__pycache__/queue.cpython-312.pyc
modules/commands/__pycache__/music_commands.cpython-312.pyc
modules/commands/__pycache__/play.cpython-312.pyc
modules/helper/__pycache__/config.cpython-312.pyc
modules/helper/__pycache__/embeds.cpython-312.pyc
modules/helper/__pycache__/logger.cpython-312.pyc
modules/helper/__pycache__/types.cpython-312.pyc
modules/search/__pycache__/spotify.cpython-312.pyc
modules/search/__pycache__/youtube.cpython-312.pyc
